<nav class="navbar navbar-expand-md navbar-light bg-white border-bottom shadow-sm">
    <div class="container">
      <a class="navbar-brand" href="https://www.neptune.work/blog">{% if page.site-nav-title %}{{ page.site-nav-title }}{% else %}Neptune Blog{% endif %}</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="https://www.neptune.work">Home <span class="sr-only">(current)</span></a>
          </li>       
          {% for i in site.nav %}
          <li class="nav-item">
            <a class="nav-link" href="{{ i[1] | relative_url}}">{{ i[0] }}</a>
          </li>
          {% endfor %}
        </ul>
        <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="mailto:info@neptune.work"><i class="fa fa-envelope-o"></i>&nbsp;&nbsp;info@neptune.work <span class="sr-only">(current)</span></a>
                </li>
        </ul>
      </div>
    </div>
</nav>
