      <!-- Footer Section -->
      <footer>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
          <div class="container">
            <a class="navbar-brand" href="#">Neptune Works</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav ml-auto text-center">
                <li class="nav-item active">
                  <a class="nav-link" href="https://www.neptune.work">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="https://www.neptune.work/#/home">Docs</a>
                </li>
                <li class="nav-item active">
                  <a class="nav-link" href="mailto:info@neptune.work"><i class="fa fa-envelope-o"></i>&nbsp;&nbsp;info@neptune.work <span class="sr-only">(current)</span></a>
                </li>
              </ul>
            </div>

          </div>
        </nav>
      </footer>
      <!-- / Footer Section -->
