---
layout: default
blog-title: Neptune Blog
---
{% include blog-header.html %}

<section id="blog-header">
  <div class="masthead bg-light" style="padding-top: 120px; background-image: linear-gradient({{ site.blog-header-bg-color }});">
    <div class="row">
      <div class="col-md-12 col-md-offset-1 text-center">
        <h1 style="margin: 20px 0 10px; color: #fff; line-height: 1.4; font-size: 42px;">{{ page.blog-title }}</h1>
      </div>
    </div>
  </div>
</section>

<section id="blog-main-content">
<div class="posts-container mx-auto px-3 my-5">
  <div class="posts">
{% for post in paginator.posts %}
      <div class="card-deck mb-3">    
    <div class="card mb-4 shadow-sm">      
      <div class="card-body">
        <h2>{{ post.title }}</h2>        
        <p>{{ post.excerpt | strip_html | strip_newlines | truncate: 126}}</p>
      <a href="{{ post.url }}" class="stretched-link">Read More</a></div>
    </div>   
  </div>
{% endfor %}
  </div>
</div>

{% include landing-footer.html %}
