---
layout: default
blog-title: Neptune Blog
---
{% include blog-header.html %}

<section id="blog-header">
  <div class="masthead bg-light" style="background-image: linear-gradient({{ site.blog-header-bg-color }});">
    <div class="container">    
    <a href="/blog" aria-label="Neptune Works">
      <img src="https://www.neptune.work/images/agency-landing/neptune-logo-white.png" width="128px" height="128px" alt="Neptune Works" class="mb-3" style="margin: 0 auto">
      <h1 class="f2">Neptune Works Blog</h1>
    </a><p class="f5" style="color:#fff">
      News, announcements and tips for all things Neptune, including new releases, Creator Tutorials, and so on.</p>
  </div>
  </div>
</section>

<section id="blog-main-content">
<div class="posts-container mx-auto px-3 my-5">
  <div class="posts">
{% for post in paginator.posts %}
      <div class="card-deck mb-3">    
    <div class="card mb-4 shadow-sm">
      {% if post.cover %}
<img src="{{ post.cover | relative_url }}" href="{{ post.url | relative_url }}" alt="" style="position: relative; width: 100%; max-height: 300px; overflow: hidden; border-top-left-radius: .625rem; border-top-right-radius: .625rem; ">
      {% endif %}
      <div class="card-body">
        {% if post.tags.size > 0 %}
        {% for tag in post.tags  %}
        <strong class="d-inline-block mb-2" style="color: #00d5ff;">{{ tag }}</strong>
        {% endfor %}
        {% endif %}
        <h2>{{ post.title }}</h2>
        <span class="post-date">{% if post.author %}<img src="{{ post.author-avatar | relative_url }}" height="32" width="32" alt="{{ post.author }}" style="border-radius: 50%!important;">&nbsp;{{ post.author }}&nbsp;{% endif %}<time datetime="{{ post.date | date:"%m-%d-%y" }}">{{ post.date | date_to_string }}</time></span>            
        <p>{{ post.excerpt | strip_html | strip_newlines | truncate: 126}}</p>
      <a href="{{ post.url }}" class="stretched-link">Read More</a></div>
    </div>   
  </div>
</div>
{% endfor %}
 
  <div class="pagination">
    {% if paginator.next_page %}
      <a class="pagination-item older" href="/blog/page{{ paginator.next_page }}/">Older</a>
    {% else %}
      <span class="pagination-item older">Older</span>
    {% endif %}
    {% if paginator.previous_page %}
      {% if paginator.page == 2 %}
        <a class="pagination-item newer" href="/blog">Newer</a>
      {% else %}
        <a class="pagination-item newer" href="/blog/page{{ paginator.previous_page }}/">Newer</a>
      {% endif %}
    {% else %}
      <span class="pagination-item newer">Newer</span>
    {% endif %}    
</div>
  </div>

</div>

{% include landing-footer.html %}
