---
layout: default
blog-title: Neptune Blog
blog-header-bg-color: 120deg, #00458A, #01C1CE
---
{% include blog-header.html %}

<section id="blog-header">
  <div class="masthead bg-light" style="background-image: linear-gradient("{{ page.blog-header-bg-color }}");">
    <div class="container">    
    <a href="/blog" aria-label="Neptune Works">
      <img src="https://www.neptune.work/images/agency-landing/neptune-logo-white.png" width="128px" height="128px" alt="Neptune Works" class="mb-3" style="margin: 0 auto">
      <h1 class="f2">Neptune Works Blog</h1>
    </a><p class="f5" style="color:#fff">
      News, announcements and tips for all things Neptune, including new releases, Creator Tutorials, and so on.</p>
  </div>
  </div>
</section>

<section id="blog-main-content">
<div class="posts-container mx-auto px-3 my-5">
  <div class="posts">
{% for post in paginator.posts %}
      <div class="card-deck mb-3">    
    <div class="card mb-4 shadow-sm">      
      <div class="card-body">
        <h2>{{ post.title }}</h2>        
        <p>{{ post.excerpt | strip_html | strip_newlines | truncate: 126}}</p>
      <a href="{{ post.url }}" class="stretched-link">Read More</a></div>
    </div>   
  </div>
{% endfor %}
  </div>
</div>

{% include landing-footer.html %}
