{% include header.html %}
{% include blog-header.html %}
{% if page.cover %}
<section id="blog-header">
  <div class="masthead bg-light" style="padding-top: 36rem; background: url('{{ page.cover | relative_url }}') center no-repeat; background-size: cover;">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-md-offset-1 text-center"></div>
    </div>   
  </div>
</div>
</section>
{% endif %}
<section id="blog-main-content">
  <div class="container">
    <div class="posts-container mx-auto px-3 my-5">
<div class="posts">
<div class="post">  
    <h1>{{ page.title }}</h1>
    {{ page.content }}
</div>
    </div>
  </div>
</div>
</section>
<section id="blog-other-posts">
<h3 class="section-title text-center m-5">Other Posts</h3>
<div class="posts-container mx-auto px-3 my-5">
<div class="posts">
{% if page.next.url %}
<div class="card-deck mb-3">
<div class="card mb-4 shadow-sm">
<div class="card-body">
<h2>{{ page.next.title }}</h2>
<p>{{ page.next.excerpt | strip_html | strip_newlines | truncate: 60}}</p>
<a href="{{ page.next.url | relative_url }}" class="stretched-link">Read More</a></div>
</div> 
</div>
{% endif %}
{% if page.previous.url %}
<div class="card-deck mb-3">
<div class="card mb-4 shadow-sm">
<div class="card-body">
<h2>{{ page.previous.title }}</h2>
<p>{{ page.previous.excerpt | strip_html | strip_newlines | truncate: 60}}</p>
<a href="{{ page.previous.url | relative_url }}" class="stretched-link">Read More</a></div>
</div>
</div>
</div>
</div>
{% endif %}
</section>
{% include landing-footer.html %}
{% include footer.html %}
