{% include header.html %}
{% include blog-header.html %}
{% if page.cover %}
<section id="blog-header" class="blog-header">
  <div class="container" style="padding-top: 7rem;">
    <div class="row">
      <div class="col-md-12 col-md-offset-1 text-center"></div>
    </div>
  </div>
  <div class="blog-header-filter blog-header-filter-gradient" style="background: url('{{ page.cover | relative_url }}') center no-repeat; background-size: cover;"></div>
</section>
{% endif %}
<section id="blog-content" class="blog-content">
<div class="container">  
  <div class="col-md-12">
    <h1>{{ page.title }}</h1>
    {{ page.content }}
    </div>
</div>
</section>
{% include landing-footer.html %}
{% include footer.html %}
