---
layout:default
site-nav-title: Neptune Blog
---
{% include blog-header.html %}
{% if page.cover %}
<section id="blog-header">
  <div class="masthead bg-light" style="display: block; margin: 0 auto 0; padding-top: 22rem; background: url('{{ page.cover | relative_url }}') center no-repeat; background-size: cover;">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-md-offset-1 text-center"></div>
    </div>   
  </div>
</div>
</section>
{% endif %}
<section id="blog-main-content">
  <div class="container">
    <div class="posts-container mx-auto px-3 my-5">
<div class="posts">
<div class="post">  
    <h1>{{ page.title }}</h1>
    <span class="post-date">{% if page.author %}<img src="{{ page.author-avatar | relative_url }}" height="32" width="32" alt="{{ page.author }}" style="border-radius: 50%!important;">&nbsp;{{ page.author }}&nbsp;{% endif %}<time datetime="{{ page.date | date:"%m-%d-%y" }}">{{ page.date | date_to_string }}</time></span>
    {{ page.content }}
</div>
    </div>
  </div>
</div>
</section>
<section id="blog-other-posts">
<h3 class="section-title text-center m-5">Other Posts</h3>
<div class="posts-container mx-auto px-3 my-5">
<div class="posts">
{% if page.next.url %}
<div class="card-deck mb-3">
<div class="card mb-4 shadow-sm">
<div class="card-body">
<h2>{{ page.next.title }}</h2>
<span class="post-date">{% if page.next.author %}<img src="{{ page.next.author-avatar | relative_url }}" height="32" width="32" alt="{{ page.next.author }}" style="border-radius: 50%!important;">&nbsp;{{ page.next.author }}&nbsp;{% endif %}<time datetime="{{ page.next.date | date:"%m-%d-%y" }}">{{ page.next.date | date_to_string }}</time></span>
<p>{{ page.next.excerpt | strip_html | strip_newlines | truncate: 60}}</p>
<a href="{{ page.next.url | relative_url }}" class="stretched-link">Read More</a></div>
</div> 
</div>
{% endif %}
{% if page.previous.url %}
<div class="card-deck mb-3">
<div class="card mb-4 shadow-sm">
<div class="card-body">
<h2>{{ page.previous.title }}</h2>
<span class="post-date">{% if page.previous.author %}<img src="{{ page.previous.author-avatar | relative_url }}" height="32" width="32" alt="{{ page.previous.author }}" style="border-radius: 50%!important;">&nbsp;{{ page.previous.author }}&nbsp;{% endif %}<time datetime="{{ page.previous.date | date:"%m-%d-%y" }}">{{ page.previous.date | date_to_string }}</time></span>
<p>{{ page.previous.excerpt | strip_html | strip_newlines | truncate: 60}}</p>
<a href="{{ page.previous.url | relative_url }}" class="stretched-link">Read More</a></div>
</div>
</div>
</div>
</div>
{% endif %}
</section>
{% include landing-footer.html %}
<script>
    document.title = '{{ page.title }} - Neptune Works'
</script>
